<head>
  <head>
      <link rel="stylesheet" type="text/js" href="main.js">
  
      <link rel="stylesheet" type="text/css" href="css/main.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       </head>

<body> 
  <ul id="dropdown1" class="dropdown-content">
  <li><a href="kontaktupsl.html">Vilnius</a></li>
  <li><a href="kontaktaikaunas.html">Kaunas</a></li>
</ul>
  <nav>
    <div class="nav-wrapper teal darken-2">
      <a href="index.html" class="brand-logo "><img class="circle logo z-depth-5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/50px-Anonymous_emblem.svg.png"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Home</a></li>
        <li><a href="index2.html">News</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Kontaktai<i class="material-icons right"></i></a></li>

      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="index.html">Home</a></li>
        <li><a href="index2.html">news</a></li>
        <li><a href="kontaktupsl.html">Kontaktai Vilniuje</a></li>
        <li><a href="kontaktaikaunas.html">Kontaktai Kaune</a></li>
      </ul>
    </div>
  </nav>

      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>